#app {
  opacity: 1;
  transition: opacity .3s;
}

.content {
  a:not([href^="#"])::before {
    content: "\f0c1";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 3px;
  }
  h2 {
    span {
      font-size: 24px;
    }
    &:first-letter {
      text-transform: uppercase;
    }
    &::before {
      font-size: 24px;
      display: inline-block;
      padding-bottom: 7.2px;
    }
  }
  h3 {
    span {
      font-size: 20px;
    }
    &:first-letter {
      text-transform: uppercase;
    }
    &::before {
      font-size: 20px;
      display: inline-block;
    }
  }
}

img {
  display: none;
  border-radius: 3px;
  &[alt="avatar"] {
    border-radius: 50%;
  }
}

[lang] {
  display: none;
  #app & + * {
    margin-top: 0;
  }
}

@mixin en ($content) {
  [lang="en"] ~ & {
    font-size: 0;
    &::before {
      content: $content;
    }
  }
}

@mixin zh ($content) {
  [lang="zh"] ~ & {
    font-size: 0;
    &::before {
      content: $content;
    }
  }
}

#profile {
  @include zh("简介");
}

#summary {
  @include zh("个人描述");
}

#skill {
  @include zh("技能");
}

#html {
  @include en("HTML");
  @include zh("HTML");
}

#css {
  @include en("CSS");
  @include zh("CSS");
}

#javascript {
  @include en("JavaScript");
  @include zh("JavaScript");
}

#tools {
  @include zh("工具");
}

#other {
  @include zh("其他");
}

#qrcode {
  @include en("QR Code");
  @include zh("二维码");
}

@mixin menu-en ($id, $content) {
  [href*="#{$id}"][href*="/en/"],
  [href*="#{$id}"][href^="#/?id"] {
    font-size: 0;
    &::before {
      font-size: 14px;
      content: $content;
      display: inline-block;
    }
  }
}

@mixin menu-zh ($id, $content) {
  [href*="#{$id}"][href*="/zh/"] {
    font-size: 0;
    &::before {
      font-size: 14px;
      content: $content;
      display: inline-block;
    }
  }
}

.sidebar {
  [href] {
    &:first-letter {
      text-transform: uppercase;
    }
  }
  @include menu-zh("profile", "简介");
  @include menu-zh("summary", "个人描述");
  @include menu-zh("skill", "技能");
  @include menu-en("html", "HTML");
  @include menu-zh("html", "HTML");
  @include menu-en("css", "CSS");
  @include menu-zh("css", "CSS");
  @include menu-en("javascript", "JavaScript");
  @include menu-zh("javascript", "JavaScript");
  @include menu-zh("tools", "工具");
  @include menu-zh("other", "其他");
  @include menu-en("qrcode", "QR Code");
  @include menu-zh("qrcode", "二维码");
}

.content {
  hr {
    &:last-child {
      opacity: 0;
      height: 200px;
    }
  }
}

[data-role="image"] {
  &::before {
    content: "view picture";
    [lang="zh"] ~ & {
      content: "查看图片";
    }
  }
}

.qrcode {
  width: 128px;
  height: 128px;
  background-size: 100% 100%;
}
.mobile {
  .sidebar {
    [href*="qrcode"] {
      display: none;
    }
  }
}